<section class="content">
  <h3>レビュータイムライン</h3>
  <div class="content-body">
    <div class="scrollbox">
      <% @reviews.each do |review| %>
        <div class="media">
          <!-- <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">64x64</text></svg> -->
          <% if review.videowork.image? %>
            <%= image_tag review.videowork.image.url, class:'bd-placeholder-img mr-3', class:'media-image'%>
          <% else %>
            <%= image_tag '/assets/no-image.jpg', class:'media-image'%>
          <%end%>
          <div class="media-body">
            <h3>
              <%= review.videowork.title %>
            </h3>
            <h5 class="mt-0">
              <%= review.title %>
            </h5>
            <%== review.body.html_safe %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>

<br>
