<script type='text/javascript'>
        tinymce.init({
            selector : '#videowork_summary',
            height: 700,
            setup: function (editor) {
                editor.on('init change', function () {
                    editor.save();
                });
            },
            plugins  : [
                'advlist anchor autolink autoresize autosave charmap code',
                'directionality emoticons hr  importcss insertdatetime legacyoutput link lists',
                'media nonbreaking noneditable pagebreak paste preview save searchreplace',
                'tabfocus table textpattern toc visualblocks visualchars wordcount'
            ],
            toolbar  : 'formatselect bold italic underline forecolor backcolor| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | code',
            menubar  : true,
            element_format : 'html',
            relative_urls : false,
            branding: false,
            image_title: true,
            automatic_uploads: true,
            });
    </script>
<%= form_with(model: videowork, local: true) do |form| %>
  <% if videowork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(videowork.errors.count, "error") %> prohibited this videowork from being saved:</h2>

      <ul>
        <% videowork.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :screening_at %>
    <%= form.date_select :screening_at %>
  </div>

  <div class="field">
    <%= form.label :screening_on %>
    <%= form.date_select :screening_on %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary,'height'=>'700' %>
  </div>

  <div class="field">
    <%= form.label :directors %>
    <%= form.text_field :directors %>
  </div>

  <div class="field">
    <%= form.label :screenplaies %>
    <%= form.text_field :screenplaies %>
  </div>

  <div class="field">
    <%= form.label :casts %>
    <%= form.text_field :casts %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id,@categories,:id,:name) %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.collection_select(:genre_id,@genres,:id,:name) %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
