
<section class="content">
  <h3>映画一覧</h3>
  <div class="content-body">
    <table class="table">
      <thead>
        <tr>
          <th>画像</th>
          <th>タイトル</th>
          <!-- <th>上映日</th>
          <th>上映時間</th> -->
          <th>概要</th>
          <!-- <th>監督</th>
          <th>脚本</th>
          <th>キャスト</th> -->
          <th>レビュー</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @videoworks.each do |videowork| %>
            <tr>
              <%unless videowork.image?%>
                <td><%= image_tag 'no-image.jpg', class:'media-image'%></td>
              <%else%>
                <td><%= image_tag videowork.image.url, class:'media-image' %></td>
              <%end%>
              <td><%= videowork.title %></td>
              <td><%= videowork.summary %></td>
              <td><%= link_to '新規作成', new_review_path(video:videowork.id)%></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'New Videowork', new_videowork_path %>
</section>

<br>
